* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.graph {
  background-color: #eaeaea;
  display: inline-block;
  width: 45%;
  height: 250px;
  margin: 10px;
  padding: 5px;
}

.dash {
  margin: auto;
  text-align: center;
}

/* Header */
.container {
  width: 90%;
  margin: auto;
}
.header {
  background-color: #edffec;
  height: 70px;
  border-bottom: 3px solid #5a5766;
  margin-bottom: 15px;
}

.header .container .titulo {
  color: #0a2342;
}

.header h1 {
  float: left;
  margin-top: 20px;
  color: #84bc9c;
  font-size: 25px;
}
